* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img{
    height: 258px;
    width: 258px;
}

main{
    background-image: linear-gradient(#001838, #3a99b0);
    height: 100vh;
}